
.my-projects-top-container {
  width: 100%;
  background-color: #d7f7f5;
  position: fixed;
  z-index: 1;
}

.projects-top-container {
  width: 80%;
  height: 10%;
  background-color: #41aaa8;
  position: relative;
  top: 0;
  left: 10%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 50px;
}

.projects-title {
  margin: 0;
  font-size: 4rem;
}

.topleft-img {
  width: 8%;
  position: absolute;
  top: 20%;
  left: 20%;
}

.topright-img {
  width: 7%;
  position: absolute;
  top: 10%;
  right: 20%;
}

.projects-middle-container {

  background-color: #d7f7f5;
  padding: 144px 50px 10px;
}

.game-container {
    margin: auto 0;
    width: 100%;
}

.game-left {
    width: 63%;
    margin: 0 auto;
    position: relative;
}
.webpage-text {
    margin: 0;
    padding: 0 20px;
}
.webpage-title {
  margin: 0;
    padding: 5px 20px;
    text-align: center;
    text-decoration:underline;
}

.game-text {
    margin: 0;
    padding: 0 20px;
    text-align: left;
}

.game-title {
    padding: 5px 20px;
    text-align: center;
    text-decoration:underline;
}

.game-main-img{
    margin-top: 10px;
    width: 25%;
    display:inline-block
}

.small-imgs {
    width: 20%;
    display: inline-block
}

.game-btn {
    margin: 10px 0 20px 0;
}

.game-img {
    width: 100%;
}

.game2-img {
    width: 100%;
}

.footer-home{
  margin-bottom: 15px;
}

.btn {
    background: #1d80c2;
    background-image: -webkit-linear-gradient(top, #1d80c2, #06446e);
    background-image: -moz-linear-gradient(top, #1d80c2, #06446e);
    background-image: -ms-linear-gradient(top, #1d80c2, #06446e);
    background-image: -o-linear-gradient(top, #1d80c2, #06446e);
    background-image: linear-gradient(to bottom, #1d80c2, #06446e);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    font-family: Arial;
    color: #ffffff;
    font-size: 100%;
    padding: 1% 3% 1% 3%;
    text-decoration: none;
}

    .btn:hover {
        background: #02c2bf;
        background-image: -webkit-linear-gradient(top, #02c2bf, #038f8d);
        background-image: -moz-linear-gradient(top, #02c2bf, #038f8d);
        background-image: -ms-linear-gradient(top, #02c2bf, #038f8d);
        background-image: -o-linear-gradient(top, #02c2bf, #038f8d);
        background-image: linear-gradient(to bottom, #02c2bf, #038f8d);
        text-decoration: none;
    }
