
@media (max-width: 675px) {
  div.game-info-div {width: 100%;}
  div.lg-img-div{width: 100%;}
  div.browser-games{padding: 0;}
  }

ol{
  padding-left: 20%;
  list-style-position: inside;
  list-style-image: none;
  text-align: left;
  font-size: 1.3rem;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

a{
  font-size: 1.3rem;
}

a.menu-links{
  font-size: 1.5rem;
}

.butn{
  font-size: 125%;
  padding: 1% 3% 1% 3%;
  text-decoration: none;
}

.my-projects-nav{
  margin: auto;
  background-color: #41aaa8;
  width: 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 50px;
}

.source-code-text{
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.fixed-menu-title {
  margin: auto;
  width: 50%;
  font-size: 4rem;
  display: inline-block;
}

.topleft-menu-img {
  margin-top: 2%;
  width: 12%;
  vertical-align: top;
}

.topright-menu-img {
  margin-top: 1%;
  width: 11%;
  vertical-align: top;
}

.projects-middle-container {
  background-color: #d7f7f5;
  padding: 80px 50px 10px;
}

/* Personal Web Page */
.webpage-text {
    margin: 0;
    padding: 0 20px;
}
.webpage-title {
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration:underline;
}

.web-list{
  width: 50%;
  margin: auto;
}

/* All Game Projects */
.game-container {
    margin: auto 0;
    width: 100%;
}

.browser-game-div{
  margin: 0 auto;
  position: relative;
}

.browser-games{
  padding: 0 10%;
}

.game-info-div {
    width: 63%;
    margin: 0 auto;
    position: relative;
}

.game-text {
  line-height: 1.5;
    margin: 0;
    padding: 0 20px 20px;
    text-align: Center;
}

.game-title {
    padding: 5px 20px;
    text-align: center;
    text-decoration:underline;  
}

.lg-img-div{
    margin-top: 10px;
    width: 40%;
    display:inline-block;
}

.game-btn-div {
    margin: 10px 0 20px 0;
}

.game-img-lg {
    width: 100%;
    border-radius: 1rem;
}