
.my-projects-top-container2 {
  width: 100%;
  background-color: #d7f7f5;
  position: fixed;
  z-index: 1;
}

.projects-top-container2 {
  width: 80%;
  height: 10%;
  background-color: #41aaa8;
  position: relative;
  top: 0;
  left: 10%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 50px;
}

.projects-title2 {
  margin: 0;
  font-size: 4rem;
}

.topleft-img2 {
  width: 8%;
  position: absolute;
  top: 20%;
  left: 20%;
}

.topright-img2 {
  width: 7%;
  position: absolute;
  top: 10%;
  right: 20%;
}

.projects-middle-container2 {
  width: 100%;
  background-color: #d7f7f5;
  padding: 144px 50px 10px;
}

.game-container2 {
  /*/border-style: outset;
    border-width: 2px;
    border-color: #1d80c2;*/
  width: 100%;
  height: 12rem;
  position: relative;
}

.game-left2 {
  width: 57%;
  text-align: left;
  position: absolute;
  top: 0;
  left: 20px;
}

.game-right2 {
  width: 40%;
  height: 12rem;
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
}

.game-text2 {
  margin: 0;
  line-height: 1;
  padding: 0 20px;
  text-align: left;
  font-size: 1.5rem;
}

.game-title2 {
  margin: 0;
  padding: 5px 20px;
  text-align: left;
}

.game-img2 {
  padding-left: 5px;
  width: 40%;
}

.game2-img2 {
  padding-left: 5px;
  width: 24%;
}

.btn2 {
  background: #0f0a3c;
  background-image: -webkit-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: -moz-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: -ms-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: -o-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: linear-gradient(to bottom, #6fb8e8, #0f0a3c);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Crimson Text', serif;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 10px 2.5rem 10px 2.5rem;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 60%;
}

.btn:hover2 {
  background: #41aaa8;
  background-image: -webkit-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: -moz-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: -ms-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: -o-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: linear-gradient(to bottom, #7ed9d4, #41aaa8);
  text-decoration: none;
}
