
ol{
  padding-left: 20%;
  list-style-position: inside;
  list-style-image: none;
  text-align: left;
  font-size: 1.3rem;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

a{
  font-size: 1.3rem;
}

a.menu-links{
}

.butn{
  font-size: 125%;
  padding: 1% 3% 1% 3%;
  text-decoration: none;
}

.my-projects-nav{
  margin: auto;
  background-color: #41aaa8;
  width: 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 50px;
  
}

.source-code-text{
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.home-link{
  margin: .5% 4% 0 3.4% ;
  font-size: 1.7rem;
  float: left;
}

.fixed-menu-container-center {
  width: 80%;
  height: 100%;
  background-color: #41aaa8;
  position: relative;
  top: 0;
  left: 10%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 50px;
}

.fixed-menu-title {
  margin: auto;
  width: 50%;
  font-size: 4rem;
  display: inline-block;
}

.topleft-menu-img {
  margin-top: 2%;
  width: 12%;
  vertical-align: top;
}

.topright-menu-img {
  margin-top: 1%;
  width: 11%;
  vertical-align: top;
}

.projects-middle-container {
  background-color: #d7f7f5;
  padding: 80px 50px 10px;
}

/* Personal Web Page */
.webpage-text {
    margin: 0;
    padding: 0 20px;
}
.webpage-title {
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration:underline;
}

.web-list{
  width: 50%;
  margin: auto;
}

/* All Game Projects */
.content-text{
  margin-top: 0;
}
.contents-container{
  margin:  auto;
  padding-bottom: 20px;
  width: 75%;
}

.contents-info-div {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.game-container {
    margin: auto 0;
    width: 100%;
}

.browser-game-div{
  margin: 0 auto;
  position: relative;
}

.game-info-div {
    width: 63%;
    margin: 0 auto;
    position: relative;
}

.game-text {
  line-height: 1.5;
    margin: 0;
    padding: 0 20px 20px;
    text-align: Center;
}

.game-title {
    padding: 5px 20px;
    /* margin-top: 75px; */
    text-align: center;
    text-decoration:underline;  
}

.lg-img-div{
    margin-top: 10px;
    width: 40%;
    display:inline-block;
}

.med-img-div {
    width: 20%;
    display: inline-block;
}

.game-btn-div {
    margin: 10px 0 20px 0;
}

.game-img-lg {
    width: 100%;
    border-radius: 25px;
}

.game-img-med {
    width: 100%;
}
