body {
  margin: 0;
  text-align: center;
  font-family: 'Crimson Text', serif;
}

hr {
  background-color: none;
  border-style: dotted none none;
  border-color: #07456f;
  border-top-width: 6px;
  width: 40%;
  margin: 30px auto;
}

h1 {
  color: #105e62;
  font-family: 'Satisfy', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #105e62;
  font-family: 'Crimson Text', serif;
  font-size: 2.5rem;
}

h3 {
  color: #105e62;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  color: #105e62;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

p {
  line-height: 2;
  text-indent: 20px;
  font-size: 1.2rem;
}

a {
  color: #0f0a3c;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.5rem;
}

a:hover {
  color: white;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none;
  text-align: left;
  font-size: 1.2rem;
}

em {
  font-weight: bold;
}

.main {
  margin: 0;
  display: table;
}

.fixed-menu-container {
  width: 100%;
  background-color: #41aaa8;
  position: fixed;
  z-index: 1;
}

.menu-title {
  color: #0f0a3c;
  width: 25%;
  float: left;
  margin: 0;
  display: inline-block;
  padding: 10px;
}

.menu-links {
  float: right;
}

.top-container {
  background-color: #a2eae2;
  padding: 125px 0 50px;
  position: relative;
}

.subtitle {
  font-weight: normal;
  padding-bottom: 50px;
}

.gear-img {
  width: 30%;
}

/* Middle Container */
.middle-container {
  background-color: #d7f7f5;
  padding: 50px 0 80px 0;
}

.summary {
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
}

/* Accomplishments */
.accomp-row {
  margin: 50px auto 40px auto;
  width: 50%;
  text-align: left;
}

.jam-table {
  margin: 0 auto;
  width: 100%;
  display: table;
}

.jam-img {
  margin-right: 30px;
  width: 100%;
  float: left;
}

.gamejam-text {
  margin: 10px auto;
}

.globalgamejam {
  margin: 0 auto 10px auto;
  width: 80%;
  text-align: center;
}

.contributions-list{
  margin: 0 auto 20px;
  width: 100%;
  display: table;
}
.align-left{
  padding-left: 15%;
  margin: 0;
  width: 40%;
  float: left;
}
.zero-padding{
  padding-left: 0;
}
.zero-width{
  width: 50%;
}

.my-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.gamejam-img {
  width: 24%;
  padding: 0 0 20px 10px;
}

/* My Project list */
.myprojects {
  margin: 0px auto 30px auto;
  width: 80%;
  text-align: center;
}

.my-projects-double-row{
  text-align: left;
  margin: 0 auto;
  width: 50%;
  display: table;
  padding-bottom: 20px;
}
.my-projects-container{
  margin-right: 10px;
  width: 20%;
  float: left;
}

.my-projects-text {
  margin: 0 auto;
  line-height: 1.5;
}

.glitch-img {
  margin-right: 30px;
  width: 60%;
  float: left;
}

/* Skills */
.skill-hr {
  margin: 20px auto;
  width: 10%;
  border-width: 5px;
}

.skill-double-row {
  /* for side by side*/
  margin: 0 auto;
  width: 70%;
  display: table;
  padding-bottom: 20px;
}

.skill-row2 {
  /* for side by side*/
  width: 50%;
  float: left;
}

.skill-row {
  /* for single row*/
  width: 50%;
  margin: 0 auto;
  display: table;
}

.skill-image {
  width: 100%;
  float: left;
}

.skill-header {
  margin: 10px 0;
  text-align: left;
}

.skill-text {
  margin: 0;
  text-align: left;
  line-height: 1.5;
}

.skill-image-container {
  margin-right: 10px;
  width: 10%;
  float: left;
}

.skill-image-container-right {
  /* for single row*/
  margin-left: 10px;
  width: 10%;
  float: right;
}

.skill-text-container {
  width: 75%;
  float: left;
}

.skill-text-container-right {
  /* for single row*/
  width: 75%;
  float: right;
}

.contact-message {
  margin: 0 auto 30px auto;
  width: 70%;
}

.butn {
  background: #0f0a3c;
  background-image: -webkit-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: -moz-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: -ms-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: -o-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: linear-gradient(to bottom, #6fb8e8, #0f0a3c);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Crimson Text', serif;
  color: #ffffff;
  font-size: 20px;
  margin: 0 20px 0 0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #41aaa8;
  background-image: -webkit-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: -moz-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: -ms-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: -o-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: linear-gradient(to bottom, #7ed9d4, #41aaa8);
  text-decoration: none;
}

/* Bottom Container*/
.bottom-container {
  background-color: #41aaa8;
  padding-top: 20px;
  padding-bottom: 10px;
}

.copywrite {
  color: white;
  font-size: .75rem
}
