@media screen and (max-width: 675px) {
  p.summary{width: 100%;}
  div.skill-double-row{width: 100%;}
  div.gamejam-header{width: 100%;}
  div.globalgamejam{width: 100%;}
  div.accomp-row{width: 100%;}
  div.my-projects-double-row{width: 100%;}
  }
  
@media screen and  (max-width: 767px) {  
  h1.fixed-menu-title {font-size:1rem;}
  div.border-right{border-right: none;}
}
 
@media screen and  (min-width: 768px) {  
  h1.fixed-menu-title {font-size:2rem;} 
  div.border-right{border-right: none;}
}

@media screen and  (max-width: 992px) {  
  .dropdown-menu{height: auto; max-height: calc(100vh - 200px); overflow-y:auto; overflow-x: hidden;}
  hr.web-browser-hr{display: block; width: 60%; clear: none; visibility: visible;}
  .gamejam-text-container{
    width: 100%;
  }
}

@media screen and  (min-width: 992px) {  
  .dropdown-menu{height: auto; max-height: calc(100vh - 80px); overflow-y:auto; overflow-x: hidden;}
  div.border-right{border-right:1px dotted rgb(7, 69, 111, .4);}
}

@media screen and  (min-width: 1100px) { 
  h1.fixed-menu-title {font-size:3rem;} 
}
 
@media screen and  (min-width: 1450px) { 
  h1.fixed-menu-title {font-size:4rem;} 
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Crimson Text', serif;
}

hr {
  background-color: transparent;
  border-style: dotted none none;
  border-color: #07456f;
  border-top-width: 6px;
  width: 50%;
  margin: 30px auto;
  opacity: 1;
}

h1 {
  color: #105e62;
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  color: #105e62;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h3 {
  color: #105e62;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
}

h4 {
  color: #105e62;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

p {
  line-height: 2;
  text-indent: 20px;
  font-size: 1.2rem;
}

a {
  color: #0f0a3c;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.5rem;
}
a.disabled {
    pointer-events: none;
    cursor: default;
  }

a:hover {
  color: white;
}

ul{
  padding-left: 20%;
  margin: auto;
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none;
  text-align: left;
  font-size: 1.2rem;
}

em {
  font-weight: bold;
}

section.anchor::before{
  content: '';
  display: block;
  height:      50px;
  margin-top: -50px;
  visibility: hidden;
}

#butnPressed {
  box-shadow: 0 0 20px white;
  background-color: rgb(102, 102, 102);
}

.web-browser-hr{
  display: none;
  width: 50%;
  clear: both;
  visibility: hidden;
}

.border-right{
  border-right:1px dotted rgb(7, 69, 111, .5);
}

.featured{
  padding: 0;
  background-color: #41aaa8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.two-count-column{
  -webkit-column-width: 210px;
  -moz-column-width: 210px;
  column-width: 210px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.warning{
  font-size: .8rem;
  text-indent: 0;
  margin-bottom: 0;
}

.fixed-menu-container {
  width: 100%;
  background-color: #41aaa8;
  position: fixed;
  z-index: 3;
}

.menu-title {
  color: #0f0a3c;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 10px 10px 40px;
  pointer-events: none;
  cursor: default;
}

.menu-links-container {
  margin-right: 40px;
}

.menu-links {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.top-container {
  background-color: #a2eae2;
  padding: 125px 0 50px;
  position: relative;
}

.subtitle {
  font-weight: normal;
  padding-bottom: 20px;
}

.gear-img {
  width: 30%;
  height: auto;
  padding-top: 20px;
}

/* Middle Container */
.middle-container {
  background-color: #d7f7f5;
  padding: 50px 0 80px 0;
}

.summary {
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
}

/* Skills */
.skill-double-row {
  /* for side by side*/
  margin: 0 auto;
  width: 70%;
}

.skill-image {
  width: 100%;
  float: left;
}

.skill-header {
  margin: 10px 0;
  text-align: left;
}

.skill-text {
  margin: 0;
  text-align: left;
  line-height: 1.5;
}

.skill-image-container {
  margin-right: 10px;
  width: 10%;
  float: left;
}

.skill-text-container {
  width: 75%;
  float: left;
}

/* Accomplishments */
.accomp-row {
  margin: 0px auto 40px auto;
  width: 50%;
  text-align: left;
}

/* Game Jam */
.gamejam-header {
  margin: 50px auto 10px auto;
  width: 50%;
  text-align: left;
}

.gamejam-title{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0%;
}

.gamejam-header-text{
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.jam-table {
  margin: 0 auto;
  width: 100%;
  display: table;
}

.jam-img {
  margin-right: 30px;
  width: 100%;
  float: left;
}

.gamejam-text-container{
  width: 90%;
  float: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gamejam-text {
  margin: 10px auto;
  text-align: left;
}

.gamejam-text-spacer{
  margin-bottom: 50px;
}

.globalgamejam {
  margin: 0 auto 10px auto;
  width: 50%;
  text-align: center;
}

.game-jam-rows {
  /* for side by side*/
  margin: 0 auto;
  width: 80%;
  padding-bottom: 20px;
}

.contributions-list{
  margin: 0 auto 20px;
  width: 100%;
  display: table;
}

.zero-padding{
  padding-left: 0;
}
.button-padding{
  padding-top: 10px;
  padding-bottom: 50px;
  /* justify-content: flex-end; */
}

.my-text {
  font-weight: bold;
  font-size: 1.5rem;
}

/* My Project list */
.padding-bottom{
  padding-bottom: 10px;
}

.my-projects-header{
  margin-bottom: 0;
}

.myprojects {
  margin: 0px auto 30px auto;
  width: 80%;
  text-align: center;
}

.my-projects-double-row{
  text-align: left;
  margin: 0 auto;
  width: 60%;
}
.my-projects-container{
  margin-right: 10px;
  width: 20%;
  float: left;
}

.my-projects-text {
  margin: 0 auto;
  line-height: 1.5;
}

.small-img {
  margin-right: 30px;
  width: 50%;
  float: left;
}

.medium-img {
  margin-right: 30px;
  width: 60%;
  float: left;
}
.large-img {
    margin-right: 30px;
    width: 70%;
    float: left;
  }

.contact-message {
  margin: 0 auto 30px auto;
  width: 70%;
}

.butn {
  background: #0f0a3c;
  background-image: -webkit-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: -moz-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: -ms-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: -o-linear-gradient(top, #6fb8e8, #0f0a3c);
  background-image: linear-gradient(to bottom, #6fb8e8, #0f0a3c);
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  
  /* border-color:#41aaa8;
  border-width: 1px;
  border-style: solid; */
  box-shadow: 4px 4px #000000;

  font-family: 'Crimson Text', serif;
  color: #ffffff;
  font-size: 20px;
  margin: 5px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display:inline-block;
}

.butn:hover {
  background: #41aaa8;
  background-image: -webkit-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: -moz-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: -ms-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: -o-linear-gradient(top, #7ed9d4, #41aaa8);
  background-image: linear-gradient(to bottom, #7ed9d4, #41aaa8);
  text-decoration: none;
}

/* Bottom Container*/
.bottom-container {
  background-color: #41aaa8;
  padding-top: 20px;
  padding-bottom: 10px;
}

.copywrite {
  color: white;
  font-size: .75rem;
}

.owl-carousel{
    margin: 0 auto; 
    width: 85%;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    padding: 0 10px !important;
    font-size: 26px;
    color:#105e62;
}

.owl-stage {
    display: flex;
 }
 .owl-item {
    display: flex;
    flex: 1 0 auto;
 }

@media screen and  (max-width: 992px) {  
    .gamejam-text-container{
      width: 100%;
    }
  }
